/*.navbar {*/
/*    color: #63FF6C;*/
/*}*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
.navbar {
    position: relative;
    align-items: center;
    vertical-align: middle;
    height: 10%;
}
.navbar-brand {
    position: relative;
    width: 10%;
    left: 10px;

    }
    .icon {
        float: left;
        position: center;
        width: 45px;
        height: 45px;
    }
    .icon-text {
        float: left;
        position: center;
        width: 60px;
        height: 50px;
    }
    .logo-text {
        position: absolute;
        padding: 4px;
    }
.nav-item {
    padding: 5px;
    bottom: 10px;
}
.card {
        position: relative;
    }
    .card-img-av {
        position: absolute;
        top: 5px;
        left: 5px;
    }
.navbar-text {
    width: 14%;
    height: auto;
}
.account-avatar {
    display: flex;
    align-items:center;
    position: relative;
    }

    .img-av {
        float: left;
        position: relative;
        width: 40px;
        height: 40px;
    }

    .nav-link {
        float: right;
        position: center;
        top: -20px;
    }
    .account-text {
        position: absolute;
        padding: 7px;
    }

    .nav-link:hover {
        transition: all 0.1s linear;
        transform: scale(1.03); /* (103% zoom)*/
    }

.navbar-brand:hover {
transition: all 0.1s linear;
transform: scale(1.03); /* (103% zoom)*/
}

.navbar-text:hover {
transition: all 0.1s linear;
transform: scale(1.03); /* (103% zoom)*/
}

footer {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
    font-size: small;
	background-color: lightblue;
	color: black;
	text-align: center;
}

html, body {
    font-family: 'Source Sans Pro', sans-serif;
  position: relative;
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.home-img {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.home-img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    width: 35%;
    height:35%;
    transition: transform .2s;
}

.home-img:hover {
    transform: scale(1.1);
}

.hero-body {
    height: 100%;
    overflow: auto;
    background-image: url('../media/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #195699;
    background-attachment: fixed;
}
#card-button {
    position:absolute;
    right:15px;
    top: 15px;
}

#card-button-edit {
    position:absolute;
    right:147px;
    top: 15px;
}

#card-button-del {
    position:absolute;
    right:15px;
    top: 15px;
}

#card-button-create {
    position:absolute;
    right: 160px;
    top: 15px;
}

.card-review-1 {
    transition: transform .2s;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    position: absolute;
    top: 150px;
    right: 30px;
    width: 20rem;
    border-radius: 5px;
    background-color: #fff;
    margin-top: 30px;
    padding: 30px 60px;
}
    .card-review-2 {
        transition: transform .2s;
        animation: fadeInAnimation ease 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        position: absolute;
        top: 150px;
        left: 30px;
        width: 20rem;
        border-radius: 5px;
        background-color: #fff;
        margin-top: 30px;
        padding: 30px 60px;
    }

.star-active {
    color: #FBC02D;
    margin-top: 10px;
    margin-bottom: 10px
}

.star-inactive {
    color: #CFD8DC;
    margin-top: 10px;
    margin-bottom: 10px
}

.content {
    font-size: 18px
}

.profile-pic {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    margin-right: 30px
}
