.card {
        position: relative;
    }
    .card-img-av {
        position: absolute;
        top: 5px;
        left: 5px;
    }

.account-avatar {
    position: relative;
    }
    .img-av {
        float: left;
        position: center;
        width: 43px;
        height: 44px;
    }

    .nav-link {
        float: right;
        position: center;
        top: -20px;
    }

    .nav-link:hover {
        transition: all 0.1s linear;
        transform: scale(1.03); /* (103% zoom)*/
    }

.navbar-brand:hover {
transition: all 0.1s linear;
transform: scale(1.03); /* (103% zoom)*/
}

/*.btn:hover {*/
/*    background-color: #3e8e41;*/
/*    transition-duration: 0.3s;*/
/*}*/

footer {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
    font-size: small;
	background-color: lightblue;
	color: black;
	text-align: center;
}

html, body {
  position: relative;
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero-body {
    height: 100%;
    overflow: auto;
    background-image: url('../media/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lightblue;
    background-attachment: fixed;
}
#card-button {
    position:absolute;
    right:15px;
    top: 15px;
}

#card-button-edit {
    position:absolute;
    right:147px;
    top: 15px;
}

#card-button-del {
    position:absolute;
    right:15px;
    top: 15px;
}

#card-button-create {
    position:absolute;
    right: 160px;
    top: 15px;
}