@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

/* -------------------------- base.html CSS Start -------------------------- */
html, body {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    }

.nav {
    position: relative;
    overflow: auto;
}

.navbar-brand {
    display: inline;
    position: relative;
    width: 10rem;
    left: 20px;

    }
    .icon {
        float: left;
        position: center;
        width: 55px;
        height: 55px;
    }
    .icon-text {
        float: left;
        position: center;
        width: 70px;
        height: 60px;
    }
    .logo-text {
        position: absolute;
        padding: 4px;
    }

.nav-item {
    padding: 1vw;
    bottom: 2vw;
}

.navbar-toggler:active,
.navbar-toggler:focus {
   outline: 0;
}

.account-dropdown {
    display: flex;
    align-items: center;
    position: relative;
    }

    .img-av {
        float: left;
        position: relative;
        width: 55px;
        height: 55px;
    }

/* -------------------------- MAIN PAGE CONTENT -------------------------- */
#pageContainer {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-rows: 40vh auto 40vh;
    background-image: url(../media/base-middle.jpg);
    background-repeat: repeat;
    width: 100%;
    height: auto;
    position: relative;
}
#pageHeader {
    position: relative;
    background-image: url(../media/base-top.jpg);
    background-repeat: repeat-x;
    background-size: contain;
    width: 100%;
    max-height: 100vh;
}

#pageWrapper {
    margin: 0 auto;
    height: auto;
    display: flex;
    padding: 2%;
    align-items: center;
    justify-content: center;
}

#pageFooter {
    position: relative;
    width: 100%;
    background-image: url(../media/base-bottom.jpg);
    background-repeat: repeat-x;
    background-size: contain;
    font-size: small;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: black;
}

    .github-icon {
        margin-left: 5px;
        margin-bottom: 2px;
    }

@media (min-width: 1025px) {
    #pageWrapper {
        width: 90%;
    }
    .main-index-page {
        width: 50%;
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    #pageWrapper {
        width: 90vw;
    }
    .main-index-page {
        width: 40vw;
    }
}

@media (max-width: 480px) {
    #pageWrapper {
        width: 90vw;
    }
    .main-index-page {
        width: 50vw;
    }
}

/* -------------------------- base.html CSS End -------------------------- */

.home-img {
    width: 50%;
    height: auto;
    margin: 10px;
}

.main-index-page {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.login-button {
    margin-top: 7px;
    margin-bottom: 7px;
    width: 100%;
    height: auto;
}

.register-button {
    margin-top: 7px;
    margin-bottom: 7px;
    width: 100%;
    height: auto;
}

.middle-text {
    justify-self: center;
}

.card-img-av {
    position: absolute;
    top: 5px;
    left: 5px;
}