{% extends "base.html" %}
{% block title %} Climate 4 Kids | Create Students{% endblock %}
{% block content %}

<div class="card text-center shadow p-3 mb-5 bg-white rounded">
    <div class="card mb-1">
        <div class="card-body">
            <h3 class="title">Create Student Accounts</h3>
            <div class="box">
                 {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                <span>{{ message }}</span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <form method="POST" action="{{ url_for('groups.create_students', group_id=group_id) }}">
                {{ form.csrf_token }}
                <div class="form-group col mb-6">
                    {{ form.names(class="form-control", rows=15, placeholder="Example:\nMichael Brown\nJulia Webster") }}
                </div>
                <div>
                    {{ form.submit(class="btn btn-success btn-is-centered") }}
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}