{% extends "base.html" %}
{% block title %} Climate 4 Kids | {{ group.name }}{% endblock %}
{% block content %}

    <script src="{{ url_for('static', filename='js/warning.js') }}"></script>

<div class="card text-center shadow p-3 mb-5 bg-white rounded">
    <div class="card mb-1">
          <img src="{{ url_for('static', filename='media/group-avatar.png') }}" class="card-img-av" alt="Default Avatar" style="float:left;width:72px;height:73px;">
          <a href="{{ url_for('groups.edit_group', group_id=group.id)}}" id="card-button-edit" class="btn btn-success">Edit Group</a>
          <a href="{{ url_for('groups.delete_group', group_id=group.id)}}" id="card-button-del" onclick="onClick()" class="btn btn-danger">Delete Group</a>
          <div class="card-body">
            <h1 class="group-dashboard">{{group.name}}</h1>
            <p class="card-text"></p>
              <br>
              <p class="card-text">Group Size: {{group.size}}</p>
              <p class="card-text"> </p>
              <p class="card-text">Key Stage: {{group.key_stage}}</p>
          </div>
        </div>
</div>

<div class="card text-center shadow p-3 mb-5 bg-white rounded">
    <div class="card mb-1">
          <div class="card-body">
              <a href="{{ url_for('groups.create_students', group_id=group.id) }}" id="card-button-create" class="btn btn-success">Add Students</a>
              <a href="{{ url_for('groups.download_students', group_id=group.id) }}" id="card-button" class="btn btn-primary">Download Data</a>
              <h1 class="group-dashboard">Students</h1>
              <br>
              <table class="table">
                  <tr>
                      <th>Name</th>
                      <th>Last Login</th>
                      <th>Quizzes Completed</th>
                      <th>Average Quiz Score</th>
                  </tr>
                  <tbody>
                    {% for student_info in students_info %}
                        <tr>
                            <td>{{ student_info[0] }}</td>
                            <td>{{ student_info[1] }}</td>
                            <td>{{ student_info[2] }}</td>
                            <td>{{ student_info[3] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
          </div>
        </div>
</div>

{% endblock %}