{% extends "base.html" %}
{% block title %}Climate 4 Kids | Quizzes{% endblock %}
{% block content %}

    <div class="card text-left border-primary shadow p-3 mb-5 bg-white rounded mx-auto" style="width: 45rem;height:auto;">
     <div class="card mb-1">
        <div class="card-body">
            <h1 class="text-center">Quizzes</h1>
            <table class="table">
                {% for quiz in quizzes %}
                <tbody>
                <tr>
                    <td>
                    <b>KS{{ quiz.key_stage }}</b>
                        <div class="quiz-main">
                            {% if quiz.key_stage == '1' %}
                                <img src="{{ url_for('static', filename='media/weather.png') }}" class="img-av" alt="Weather Quiz">
                            {% elif quiz.key_stage == '2' %}
                            <img src="{{ url_for('static', filename='media/climate_change.jpg') }}" class="img-av" alt="Weather Quiz">
                            {% endif %}
                            <a class=quiz-main-title href="{{ url_for('users.quiz_questions', quiz_id=quiz.id) }}">
                                  {{ quiz.name }}
                        </a>
                    </div>
                    </td>
                </tr>
            </tbody>
                {% endfor %}
            </table>
        </div>
     </div>
    </div>
{% endblock %}
