{% extends "base.html" %}
{% block title %}Climate 4 Kids | {{ current_user.name }}{% endblock %}
{% block content %}
{% if current_user.role == 'student' or current_user.role == 'teacher' %}
<div class="card text-center border-primary shadow p-3 mb-5 bg-white rounded">
    <div class="card mb-1">
      <img src="../static/media/avatar.png" class="card-img-av" alt="Default Avatar" style="float:left;width:72px;height:73px;">
      <div class="card-body">
        <h1 class="user-dashboard">{{ current_user.name}}</h1>
          <br>
          <table class="table">
              {% if current_user.role == 'student' %}
              <tr>
                  <th>Username</th>
                  <th>Registered On</th>
                  <th>Last Login</th>
                  <th>Quizzes Completed</th>
                  <th>Average Quiz Score</th>
              </tr>
              <tbody>
                <tr>
                    <td>{{ current_user.username }}</td>
                    <td>{{ current_user.registered_on }}</td>
                    <td>{{ current_user.last_login }}</td>
                    <td>{{ quizzes_completed }}</td>
                    <td>{{ average_quiz_score }}</td>
                </tr>
            </tbody>
          {% endif %}
              {% if current_user.role == 'teacher' %}
              <tr>
                  <th>Username</th>
                  <th>Registered On</th>
                  <th>Last Login</th>
                  <th>Number of Groups</th>
                  <th>Number of Students</th>
              </tr>
              <tbody>
                <tr>
                    <td>{{ current_user.username }}</td>
                    <td>{{ current_user.registered_on }}</td>
                    <td>{{ current_user.last_login }}</td>
                    <td>{{ groups | length }}</td>
                    <td>{{ students }}</td>
                </tr>
            </tbody>
              {% endif %}
          </table>
      </div>
    </div>
</div>
    {% if group != None %}
<div class="card text-center border-primary shadow p-3 mb-5 bg-white rounded">
        <div class="card mb-1">
          <img src="../static/media/group-avatar.png" class="card-img-av" alt="Default Group Avatar" style="float:left;width:72px;height:73px;">
          <div class="card-body">
            <h1 class="group-dashboard">Groups</h1>
          <br>
              <table class="table">
                  <tr>
                      <th>Group</th>
                      <th>Group Code</th>
                      <th>Teacher</th>
                      <th>Number of Students</th>
                      <th>Key Stage</th>
                      <th>Average Quiz Score</th>
                  </tr>
                  <tbody>
                  {% if current_user.role == 'teacher' %}
                      {% for group in groups %}
                          <tr>
                              <td>{{ group.name }}</td>
                              <td>{{ group.id }}</td>
                              <td>{{ teacher.name }}</td>
                              <td>{{ group.students|length }}</td>
                              <td>{{ group.key_stage }}</td>
                              <td>{{ group_average_quiz_score }}</td>
                          </tr>
                      {% endfor %}
                  {% endif %}
                  {% if current_user.role == 'student' %}
                      <tr>
                          <td>{{ group.name }}</td>
                          <td>{{ group.id }}</td>
                          <td>{{ teacher.name }}</td>
                          <td>{{ students }}</td>
                          <td>{{ group.key_stage }}</td>
                          <td>{{ group_average_quiz_score }}</td>
                      </tr>
                      </tbody>
                  {% endif %}
              </table>
              <br>
          </div>
        </div>
</div>
        {% endif %}
{% endif %}
{% endblock %}