{% extends "base.html" %}
{% block title %}Dashboard {% endblock %}
{% block content %}
<link rel="stylesheet" type="text/javascript" href="{{ url_for('static',filename='copytext.js') }}">

<div class="card text-center shadow p-3 mb-5 bg-white rounded">
    <a href="{{ url_for('users.create_group')}}" class="btn btn-success" >Create a New Group</a>
    <div class="card mb-1">
          <div class="card-body">
            <h1 class="group-dashboard">Your Groups</h1>
              <br>
              <table class="table">
                  <tr>
                      <th>Group Name</th>
                      <th>Group Code</th>
                  </tr>
                  <tbody>
                    {% for group in groups %}
                        <tr>
                            <td>
                                <a style="text-decoration:none; color:black" href="/groups/{{group.id}}">{{ group.name }}</a>
                            </td>
                            <td>
                                <div id="group-id">
                                      {{ group.id }}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
          </div>
    </div>
</div>

{% endblock %}