{% extends "base.html" %}
{% block title %}Climate 4 Kids | Dashboard{% endblock %}
{% block content %}

<!-- <div class="info-card text-center shadow p-3 mb-5 bg-white rounded">
    <div class="card mb-1">
          <div class="card-body">
            <h1 class="group-dashboard">Your Groups</h1>
              <br>
              <table class="table">
                  <tr>
                      <th>Group Name</th>
                      <th>Group Code</th>
                  </tr>
                  <tbody>
                    {% for group in groups %}
                        <tr>
                            <td>
                                <a style="text-decoration:none; color:black" href="/groups/{{group.id}}">{{ group.name }}</a>
                            </td>
                            <td>
                                <div id="group-id">
                                      {{ group.id }}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{{ url_for('groups.create_group')}}" class="btn btn-success" style="position:center;margin:5px;">Create a New Group</a>
          </div>
    </div>
</div>  -->
<div class="info-card text-center shadow p-3 mb-5 bg-white rounded">
    <div class="card mb-1">
          <div class="card-body">
            <h1 class="group-dashboard">Your Groups</h1>
                <div class="group-id">
                    <div class="test"><b>Group Name</b></div>
                    <div class="test"><b>Group Code</b></div>
                    {% for group in groups %}
                        <div class="test" id="groupName">
                            <a style="text-decoration:none; color:black" href="/groups/{{group.id}}">{{ group.name }}</a>
                            </div>
                        <div class="test">
                            {{ group.id }}
                        </div>
                    {% endfor %}
                </div>
                <br>
            <a href="{{ url_for('groups.create_group')}}" class="btn btn-success" style="position:center;margin:5px;">Create a New Group</a>
          </div>
    </div>
</div>

{% endblock %}