{% extends "base.html" %}
{% block title %}Climate 4 Kids | Home{% endblock %}
{% block content %}
    <div class="main-index-page">
        <img src="{{ url_for('static', filename='media/globe-blue.png')}}" alt="Climate for Kids" class="home-img">
        <img src="{{ url_for('static', filename='media/text-blue.png')}}" alt="Climate for Kids" class="home-img">

        {% if not current_user.is_authenticated %}
            <div class="login-button">
                <a href="{{ url_for('auth.login') }}" class="login-button btn btn-success"><b>I am a Student!</b></a>
            </div>
            <div class="register-button"> 
                <a href="{{ url_for('auth.register') }}" class="register-button btn btn-success"><b>I am a Teacher!</b></a>
            </div>
        {% endif %}
    </div>

{% endblock %}