<!-- Author: Harry Hamilton -->
{% extends "base.html" %}
{% block title %}Climate 4 Kids | Admin{% endblock %}

{% block content %}
<div class="card text-left shadow p-3 mb-5 bg-white rounded">
    <div class="column is-8 is-offset-2 float-left" id="test">
        <h4 class="title is-4">Security Logs</h4>
        <div class="box float-left" >
            {% if logs %}
                <div class="field float-left ">
                <table class="table">
                    {% for entry in logs %}
                        <tr>
                            <td>{{ entry }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}
