{% extends "base.html" %}
{% block title %}Climate 4 Kids | Change Password{% endblock %}
{% block content %}
    <div class="card text-center shadow p-3 mb-5 bg-white rounded mx-auto my-auto" style="width: 35rem;">
        <div class="card mb-1">
          <div class="card-body">
            <h3 class="title is-3">Change password</h3>
            <div class="box">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        <span>{{ message }}</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
            <form method="POST" class="form" action="{{ url_for('users.change_password') }}">
                {{ form.csrf_token }}
                <div class="form-group col mb-6">{{ form.username(class_="form-control", placeholder="Username") }}
                </div>
                <div class="form-group col mb-6">
                    {{ form.current_password(class_="form-control", placeholder="Current password", size=99) }}
                </div>

                 <div class="form-group col mb-6">
                    {{ form.new_password(class_="form-control", placeholder="New password", size=99) }}
                </div>

                 <div class="form-group col mb-6">
                    {{ form.confirm_new_password(class_="form-control", placeholder="Confirm new password", size=99) }}
                </div>

                <div class="form-group col mb-6">
            {{ form.submit(class_="btn btn-success is-centered") }}
        </div>

            </form>
            </div>
        </div>
    </div>
 </div>
{% endblock %}